* {
  scrollbar-color: $primary-color $darkest-color;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: $darkest-color;
}
